#background-main-img {
  height: 676px;
  color: #000;
  box-shadow: 2px 2px 7px 0px rgba(-63, -34, -64, 0.7);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lift-side-box-about {
  position: absolute;
  top: 15%;
  left: 15%;
}

#tow-main {
  display: flex;
}

#about-heding-jayu {
  font-size: 83px;
  width: 50%;
  margin: 8px 1px;
  font-family: "YourSelectedFont", sans-serif;
  color: #292222;
}

#about-heding-font {
  color: #292222;
  font-family: "YourSelectedFont", sans-serif;
  /* width: 40%; */
  margin-left: 6px;
  font-size: 19px;
  position: absolute;
  top: 91%;
}

#peracef-of-about {
  font-family: "YourSelectedFont", sans-serif;
  width: 57%;
  margin-left: 3px;
  position: absolute;
  top: 111%;
  font-size: 20px;
}

#peracef-about-span {
  font-weight: bold;
  color: rgb(164 255 238);
  font-family: "YourSelectedFont", sans-serif;
}

#about-email {
  font-size: 16px;
  font-family: "YourSelectedFont", sans-serif;
  position: absolute;
  bottom: -88%;
}

#about-email-span {
  font-weight: bold;
  color: rgb(164 255 238);
  font-family: "YourSelectedFont", sans-serif;
}

#about-phone {
  font-size: 16px;
  font-family: "YourSelectedFont", sans-serif;
  position: absolute;
  bottom: -103%;
}

#about-phone-span {
  font-weight: bold;
  color: rgb(164 255 238);
  font-family: "YourSelectedFont", sans-serif;
}

#button-about {
  border: none;
  width: 149px;
  height: 50px;
  color: #fff;
  z-index: 1;
  display: flex;
  background: #000;
  position: absolute;
  top: 232%;
  right: 53%;
}

#button-about p {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;

}

#button-about::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(0% 74%,
      4% 75%,
      8% 76%,
      11% 77%,
      15% 78%,
      20% 78%,
      25% 77%,
      32% 77%,
      37% 75%,
      40% 74%,
      43% 74%,
      46% 73%,
      52% 72%,
      57% 72%,
      65% 74%,
      66% 75%,
      71% 78%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%);
  background: #8792eb;
  transition: 0.2s ease;
}

#button-about::before {
  position: absolute;
  content: "";
  /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
  /*   bottom:; */
  z-index: -1;
  clip-path: polygon(0% 74%,
      4% 75%,
      8% 76%,
      11% 77%,
      15% 78%,
      20% 78%,
      25% 77%,
      32% 77%,
      37% 75%,
      40% 74%,
      43% 74%,
      46% 73%,
      52% 72%,
      57% 72%,
      65% 74%,
      66% 75%,
      71% 78%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%);
  background: #8792eb;
}

#button-about:hover::after {
  clip-path: polygon(0 30%,
      9% 34%,
      7% 39%,
      11% 43%,
      13% 33%,
      17% 30%,
      24% 34%,
      25% 35%,
      30% 31%,
      30% 38%,
      39% 33%,
      35% 43%,
      43% 45%,
      55% 46%,
      65% 74%,
      67% 66%,
      81% 57%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%);
  height: 80%;
}

#button-about:hover::before {
  clip-path: polygon(0 30%,
      9% 34%,
      7% 39%,
      11% 43%,
      13% 33%,
      17% 30%,
      24% 34%,
      25% 35%,
      30% 31%,
      30% 38%,
      39% 33%,
      35% 43%,
      43% 45%,
      55% 46%,
      65% 74%,
      67% 66%,
      81% 57%,
      75% 82%,
      81% 86%,
      83% 88%,
      88% 91%,
      90% 94%,
      94% 96%,
      98% 98%,
      100% 100%,
      82% 100%,
      0 100%);
  height: 80%;
}

/* //////////////////////////////////////////////////////////////////////////////////// */

#right-side-main {
  position: absolute;
  top: 34%;
  right: 2%;
  height: 228px;
  width: 420px;
}

#right-heding {
  font-size: 40px;
  font-family: "YourSelectedFont", sans-serif;
  margin-right: 24px
px
;
}

#icons-about {
  display: flex;
  height: 117px;
  width: 101%;
  margin: -8px 19px;
  gap: 5px;
}
.icons-about-peg {
  height: 48px;
  margin-top: 28px;
}


#vercel-m {
  position: absolute;
  right: 43%;
}




.circle-image {
  width: 384px;
  height: 391px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 26%;
  right: 38%;
}

.circle-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}




#email-about-one {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 15px;
  position: absolute;
  top: 143%;
}


#email-about-one input[type="text"] {
  flex: 1;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 18px;
}
#email-about-one input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}



#right-side-peracef-about {
  font-family: "YourSelectedFont", sans-serif;
  font-size: 17px;
  position: absolute;
  bottom: -44%;
  right: 45%;
}
#email-about-one button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}
#email-about-one button:hover {
  background-color: #0056b3;
}
