* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  padding: 10px;
  display: flex;
}

.Shopsy-logo {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  margin-left: 37px;
}

.logo_img {
  height: 43px;
  margin-top: 7px;
}
.cart {
  position: absolute;
  top: 4px;
  right: 9px;
  color: black;
  background-color: #b0b9ff;
  padding: 1px 4px 1px 4px;
  border-radius: 50%;
  font-size: smaller;
}
#main-nav-navbar {
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center; 
}

#nav-ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin-top: 2px;
      flex: 1;
      justify-content: center;
      gap: 13px;
  }


 #nav-ul li {
  display: inline-block;
  margin-right: 20px;
}

#nav-ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}







#btn {
  border: none;
  width: 140px;
  height: 50px;
  color: #fff;
  z-index: 1;
  display: flex;
  background: #000;
  position: relative;
  margin-right: 22px;
  margin-top: 10px;

 }
 
 #btn p {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
 }
 
 #btn::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: #8792eb;
  transition: 0.2s ease;
 }
 
 #btn::before {
  position: absolute;
  content: "";
 /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
 /*   bottom:; */
  z-index: -1;
  clip-path: polygon(0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%, 20% 78%, 25% 77%, 32% 77%, 37% 75%, 40% 74%, 43% 74%, 46% 73%, 52% 72%, 57% 72%, 65% 74%, 66% 75%, 71% 78%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  background: #8792eb;
 }
 
 #btn:hover::after {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }
 
 #btn:hover::before {
  clip-path: polygon(0 30%, 9% 34%, 7% 39%, 11% 43%, 13% 33%, 17% 30%, 24% 34%, 25% 35%, 30% 31%, 30% 38%, 39% 33%, 35% 43%, 43% 45%, 55% 46%, 65% 74%, 67% 66%, 81% 57%, 75% 82%, 81% 86%, 83% 88%, 88% 91%, 90% 94%, 94% 96%, 98% 98%, 100% 100%, 82% 100%, 0 100%);
  height: 80%;
 }
 
 
 #cart {
  margin: 10px -39px;
  height: 28px;
}
.save-but{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}




/* ////////////////////////////////////////////////
 */

 